extends layout

block head
  link(rel='stylesheet', href='/css/landing.css')

block content
  .pitch='Challenge Your Friends'
  a(href='/challenges')='Challenges'

block scripts
  script(src='/js/landing.js')
